{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Congratulations!
{% endblock %}

{% block content %}

    <p>
        You have reached the end of the first part of the experiment, from now on you will be playing a different game.
    </p>

    {% if elic %}
        Your final payoff was selected from round {{ rand_r }} of the action guessing part of the game, and it is {{ participant.payoff }}
    {% else %}
        Your final payoff was selected from round {{ rand_r }} of the 2x2 part of the game, and it is {{ participant.payoff }}
    {% endif %}

    {% next_button %}

{% endblock %}