{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Round {{ round }}
{% endblock %}

{% block content %}

    <p>You have been allocated in the role of: <b>{{ player.role }}</b></p>

    <p>
        You have no choice in this game. Your payoff is the third number from the left in each cell.
        Please tick the box below to tell us that you have understood your role in the game.
    </p>

    <div>
    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>Player B</th>
        </tr>
        <tr>
            <th>Choice 1</th>
            <th>Choice 2</th>
        </tr>
        <tr>
            <th rowspan=2 style="vertical-align: middle">Player A</th>
            <th>Choice 1</th>
            <td>5, 5, 5</td>
            <td>5, 10, 2</td>
        </tr>
        <tr>
            <th>Choice 2</th>
            <td>10, 5, 2</td>
            <td>2, 2, 0</td>
        </tr>
    </table>  </div>

    <p> By pressing the blue button you acknowledge that you understand that you have no choice in this game.  <button class="btn btn-primary btn-large"></button></p>

{% endblock %}