{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Three Players Game
{% endblock %}

{% block content %}

    <p>You have been allocated in the role of: <b>{{ player.role }}</b></p>

    <p>
        You will now play 9 rounds as  <b>{{ my_role }}</b>. For every round, you will be randomly paired with a
        different  <b>{{ other_role }}</b>, such that you will never play two rounds in a row with the same partner.
        After 9 rounds, you will play another game for 21 more rounds. At the end of the experiment, you will be paid
        based on some randomly selected choices you will have made in these rounds.
    </p>

    {% next_button %}

{% endblock %}